
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to psychowarfare.com, <%= email %></h1>
    <p>
      You have successfully signed up to psychowarfare.com!<br>
    </p>
    <p>Thanks for joining and have a great day!</p>


    <h2>Sincerely, AJ</h2>
  </body>
</html>