<div class="ui centered text segment container">
  <h1 class="ui centered header">
    All Episodes
  </h1>
</div>


<div class="ui three stackable cards">
  <% @articles.each do |article| %>
    <%= render 'home/card', article: article %>
  <% end %>
</div>
