  
<div class="ui twelve wide column">

<h1 class="ui header left aligned">
  <%= article.title %>

  <div class="sub header">
    <%= article.created_at.strftime('%v') %>


<span class="ui right floated ">


</span>
  

  </div>
</h1>

  <div class="ui horizontal divider">
    Share


  </div>

  <div class="spaced">

<a href="https://www.facebook.com/psychowarfare" class="ui facebook button"><i class="facebook icon"></i>
  Facebook</a>
<a class="ui twitter button" href="https://twitter.com/intent/tweet?text=Hello%20world">
  <i class="twitter icon"></i>
  Tweet
</a>
<a href="mailto:name@email.com" class="ui vk button"><i class="mail icon"></i>
  Email</a>



    </div>

   <div class="ui horizontal divider">
   ENJOY
    
  </div>

    <div class="ui raised very padded container segment">
      <%= image_tag("#{article.header_image}",  class: "ui container fluid image") %>
    </div>
    <% 10.times do |t| %>
      <p><%= article.content %></p>
    <% end %>

      



    
      <div class="ui horizontal divider">


    
     </div>




</div>
