
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="5 wide centered column">
          <h4 class="ui inverted header">Copyright © 2018 Psycho Warfare</h4>
          <div class="ui inverted link list">
          <a class="item" onclick="showEmailModel();">Subscribe to our Email List</a>
          </div>
        </div>

      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
   <!--     <a class="item" href="#">Terms and Conditions</a> -->
      </div>
    </div>
  </div>
