

<!-- Following Menu -->
  <div class="ui  vertical masthead center aligned segment">
    <div class="ui text container">
      <h2 class="ui inverted">
        "It's all about the Psychological Warfare" - A.J Norton 2006
      </h1>
      <%= link_to("https://soundcloud.com/psychowarfare", target: :blank) do %>
         <div class="ui huge inverted grey button">Listen Now :)<i class="right arrow icon"></i></div>
      <% end %>
    </div>
  </div>