

<!-- Following Menu -->
  <div class="ui  vertical masthead center aligned segment">
    <div class="ui text container">
      <h2 class="ui inverted">
        "It's all about the Psychological Warfare" - A.J Norton 2006
      </h1>
       <%= link_to(home_listen_path, target: :blank) do %>
           <div class="ui huge inverted green button">Listen Now <i class="right play icon"></i></div>
        <% end %>
    </div>
  </div>