

<!-- Following Menu -->
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted ">
        "It's all about the Psychological Warfare" - A.J Norton 2009
      </h1>
      <h2>Join the fun :)</h2>
    </div>
  </div>