<div class="ui centered card">
  <div class="image">
  <%= image_tag("helloWorld.JPG") %>
  </div>
  <div class="content">
      <div class="header">A.J. Norton</div>
      <div class="meta">
        <a>WTF</a>
      </div>
      <div class="description">
        AJ wants to explore life.  Email me at: aj@psychowarfare.com to join in
      </div>
    </div>
  
  </div>