  <div class="ui raised segment">
      <a class="ui red ribbon label">Subscribe!</a>
      <span>Become apart of the family!</span>
      <ul>
      	<li>Up to date podcasts</li>
      	<li>Special Articles</li>
      	<li>Awesome Videos</li>
      	<li>and more I will figure out more later!</li>
      </ul>
      <p></p>

      <div class="fluid ui massive blue icon button" onclick="showEmailModel();">
        <i class="announcement icon"></i>
        Sign Up!
      </div>
     
    </div>