

<!--
<div class="overlay">
      <div class="ui labeled icon vertical menu">
        <% @social.each do |k, v| %>
          <a class="item"> <%= semantic_icon("#{k}") %>  <%= "#{v}" %></a>
        <% end %>
      </div>
    </div>


-->

<%= render :partial => "article", collection: @articles %>

<%= will_paginate @articles %>
