<%= render "article", article: @article %>


    <div class="ui raised segments">
      <div class="ui success header segment">Recommended Posts</div>
      <% if @article.recommended_articles.any? %>
        <% @article.recommended_articles.each do |r| %>
        <%= link_to show_page_path(r) do %>
          <div class="ui success segment">
            <%= r.title %>
          </div>
          <% end %>
        <% end %>
          
      <% else %>
       <div class="ui success segment">
            Check out more articles on the sidebar!
          </div>
          
      <% end %>
      
      </div>


  <h1>
  Leave a reply
  </h1>


<%= render partial: 'the_comments/tree', locals: { commentable: @article, comments_tree: @comments } %>


