<%= render "article", article: @article %>


    <div class="ui stacked segments">
      <div class="ui inverted segment">
        <h2 class="ui header">
            Recommended Posts:
       </h2> </div>
      <% if @article.recommended_articles.any? %>
        <% @article.recommended_articles.each do |r| %>
        <%= link_to show_page_path(r), target: :blank do %>
          <div class="ui blue inverted segment">
            <h3 class="ui header">
              <%= r.title %>
            </h3>
          </div>
          <% end %>
        <% end %>

      <% else %>
       <div class="ui red inverted segment">
            Check out more articles on the sidebar!
        </div>

      <% end %>

      </div>


  <h1>
  Leave a reply
  </h1>


<%= render partial: 'the_comments/tree', locals: { commentable: @article, comments_tree: @comments } %>
