/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require the_comments
 */

 @import "semantic-ui";


$silveColor: #ecf0f1;
$blackColor: #2c3e50;
$mastheadSize: 390px;



 .ui.menu .item img.logo {
    margin-right: 1.5em;
  }


ul {
  list-style-type: none;
  li {
    margin: 10px 0px;
  }
}




@media only screen and (max-width: 1080px) {
  .ui.fixed.menu {
      .item {
        &:first-child {
          display: block;
        }

        + .item {
          display: none !important;
        }
      }
  }
}

@media only screen and (min-width: 1081px) {
  .ui.fixed.menu {
      .item {
        &:first-child {
          display: none !important;
        }
      }

  }
}


.home_index_image {

.archive-home__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(20, 20, 20, .6);;
        z-index: 1;
        color: white;
        transition: all .3s ease 0s;
        padding: 4px 10px;

    }

    &:hover {
      .archive-home__content {
        background: black;
        color: #ecf0f1;
        padding: 8px 20px;
      }
    }


}

 .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 0px;
  }


.topHeader {
  padding-top: 40px;
}

#listen_button {
  margin: 10px;
}

 .ui.message {
   margin-left: 20%;
   margin-right: 20%;
   position: fixed;
   bottom: 0;
   width: 60%;
 }

pre {
  margin: 1px;

  white-space: pre-line;
}


h3  {
  margin: 5px !important;
}

.item {
  clear: both;
  margin: 10px;
}

.ui.segment{
  padding-top: 20px;
  margin-bottom: 20px;
}

.ui.segment:last-child {
    margin-bottom: 20px;
}

.divider{
  clear: both;
}

.centered {
  margin-bottom: 20px;
}

.index_image {
  height: 200px;
  width: 200px;

}

.userbar {
  background-color: $silveColor !important;
  border: 1px solid $blackColor !important;
}

p {
 font-size:  18px;
}

.CodeRay {
  background-color: $silveColor;
  border-style: dotted;
  border: 1px solid $blackColor;
  border-radius: 3px;
  margin: 8px;
  padding: 6px;
  .code {

  }
}

pre {
  font-size: 24;
}


.floating.message {
  z-index: 2;

  margin-bottom: 30px;
}
